@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(40, 40, 40);
}

body::-webkit-scrollbar-thumb {
    background: rgb(155, 144, 51);
    border-radius: 25px;
}
  
header {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 99;
    background-color: rgba(40, 40, 40, 0.800);
}

.container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.logo {
    width: 280px;
    margin-left: 45px;
    cursor: pointer;
}

.open {
    display: none;
}

.navbar {
    margin-right: 30px;
}

.lists {
    display: flex;
    list-style-type: none;  
    text-align: center;
    font-weight: 450;
    color: white;
}

.list {
    display: inline-block;
}

.menu {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    transition: 0.8s;
    padding: 6px 20px 6px 20px;
}

.menu:hover {
    color: rgb(155, 144, 51)
}

.spanish {
    width: 22px;
}

.main {
    width: 100%;
    background-color: white;
}

.intro {
    height: auto;
    padding-top: 200px;
    justify-content: center;
    background-color: rgb(40, 40, 40);
    padding-bottom: 150px;
}

.title {
    font-size: 75px;
    text-align: center;
    color: rgb(155, 144, 51)
}

.presentation {
    font-size: 35px;
    text-align: center;
    color: rgb(175, 175, 175);
    padding-top: 30px;
}

.p-presentation {
    font-size: 28px;
    text-align: center;
    color:rgb(175, 175, 175);
    padding-top: 15px;
}

.btn-contact {
    text-align: center;
    justify-self: center;
    padding-top: 45px;
}

.btn {
    width: 120px;
    height: 40px;
    text-align: center;
    color: rgb(155, 144, 51);
    font-size: 15px;
    font-weight: 580;
    border-radius: 14px;
    border-color: rgb(155, 144, 51);
    background-color: rgb(40, 40, 40);
    transition: 0.8s;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgb(155, 144, 51);
    border-color: rgb(155, 144, 51);
    color: rgb(40, 40, 40);
    box-shadow: 0 0 8px rgba(155, 145, 51, 0.733);
}
    
.our-commitment {
    height: auto;
    background-color: rgb(46, 46, 46);
    padding-top: 90px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commitment-container {
    width: 1200px;
    height: 430px;
    text-align: center;
}

.title-commitment {
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    color: rgb(155, 144, 51)
}

.div-commitment {
    display: grid;
    grid-template-columns: 21% 21% 58%;
    grid-gap: 26px;
    padding: 35px;
    border-radius: 10px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    background: rgba(78, 78, 78, 0.877);
    margin-left: min(20px);
    margin-right: min(20px);
}

.div3 {
    display: grid;
    grid-template-rows: auto auto;
    padding-left: 25px;
    width: 200px;
    place-items: center ;
}

.div2 {
    display: grid;
    grid-template-rows: auto auto;
    width: 200px;
    place-items: center ;
}

.title-mission {
    color: rgb(175, 175, 175);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.p-mission {
    color: rgb(175, 175, 175);
    padding-top: 9px;
}

.title-vision {
    color: rgb(175, 175, 175);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.p-vision {
    color: rgb(175, 175, 175);
    padding-top: 9px;
}

.div-p-comm {
    width: 100%;
    padding-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-commitment {
    font-size: 24px;
    text-align: left;
    color: rgb(238, 238, 238);
    padding-left: 18px;
}

.logo-df {
    width: 20px;
    text-align: center;
    margin-top: 60px;
    transition: 1.4s;
    cursor: pointer;
}

.logo-df:hover {
    transform: rotate(1turn);
}

.how {
    height: auto;
    background-color: rgb(40, 40, 40);
    padding-bottom: 50px;
    padding-top: 90px;
    display: block;
    justify-content: center;
}

.title-how {
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    color: rgb(155, 144, 51)
}

.icon-container {
    display: grid;
    justify-content: center;
}

.how-icon {
    background-color: rgba(255, 254, 254, 0.075);
    width: 60px;
    border-radius: 25%;
    padding: 9px;
    transition: 1s;
}

.cards-container {
    width: 100%;
    height: auto;
    padding-top: 70px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-column-gap: 50px;
    justify-content: center;
}

.container-icon-card:hover .shadow {
    box-shadow: 0 0 8px rgba(155, 145, 51, 0.712)
}

.card {
    background-color: rgba(255, 254, 254, 0.075);
    width: 100%;
    height: 310px;
    padding: 20px;
    margin-top: 20px;
    display: grid;
    border-radius: 20px;
    transition: 1s !important;
}

.title-card {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 480;
    padding-bottom: 10px;
    border-bottom: solid 1px;
    border-color: rgba(155, 145, 51, 0.836);
}

.p-card {
    text-align: center;
    color: rgb(175, 175, 175);
}

.why-us {
    height: auto;
    background-color: rgb(46, 46, 46);
    padding-bottom: 90px;
    padding-top: 90px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.title-why {
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    color: rgb(155, 144, 51)
}

.rows {
    width: 700px;
    height: auto;
    padding-top: 70px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    gap: 25px;
    justify-content: center;
}

.row-left {
    width: 650px;
    display: grid;
    justify-content: start;
}

.row-right {
    width: 650px;
    display: grid;
    justify-content: end;
}

.row {
    display: flex;
    align-items: center;
    width: 500px;
    height: 85px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    background-image: linear-gradient(to left, rgba(155, 145, 51, 0.5), rgb(40,40,40));
    transition: 0.7s;
}

.row:hover {
    transform: scale(1.03);
}

.title-row {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 480;
}

.p-row {
    color: rgb(175, 175, 175);
    padding-left: 40px;
}

.contact {
    background-color: rgb(40, 40, 40);
    width: 100%;
}

.contact-container {
    background-color: rgb(40, 40, 40);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    display: grid;
    justify-content: center;
    text-align: center;
}

.div-contact {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    text-align: center;
    padding-top: 28px;
}

.img-contact {
    width: 200px;   
}

.icon-footer {
    width: 22px;
    transition: 0.8s;
    cursor: pointer;
}

.icon-footer:hover {
    transform: scale(1.2);
}

.p-contact {
    text-decoration: none;
    color: rgb(212, 212, 212);
    font-size: 14px;
    margin-top: 8px;
}

.phone-number {
    color: rgb(212, 212, 212);
    text-decoration: none;
}

.copy {
    display: grid;
    width: 100%;
    background-color: rgb(34, 34, 34);
    align-items: center;
    height: 30px;
}   

.copy-right {
    background-color: rgb(34, 34, 34);
    color: rgb(175, 175, 175);
    text-align: center;
}

@media (min-width: 1800px) and (max-width: 4500px) {

    .logo {
        width: 380px;
    }

    .menu {
        font-size: 28px;
    }

    .intro {
        padding-top: 340px;
        padding-bottom: 320px;
    }

    .title {
        font-size: 92px;
    }

    .presentation {
        font-size: 45px;
        padding-top: 32px;
    }

    .p-presentation {
        font-size: 34px;
        padding-top: 18px;
    }

    .btn {
        width: 134px;
        height: 50px;
        font-size: 18px;
    }

    .our-commitment {
        padding-top: 160px;
        padding-bottom: 120px;
    }

    .commitment-container {
        height: 500px;
        width: 1390px;
    }

    .title-commitment {
        font-size: 40px;
    }

    .div-commitment {
        padding: 50px;
        height: 250px;
        width: 1390px;
        margin-top: 80px;
    }

    .title-mission {
        font-size: 24px;
    }

    .title-vision {
        font-size: 24px;
    }

    .p-mission {
        font-size: 18px;
        padding-top: 12px;
    }

    .p-vision {
        font-size: 18px;
        padding-top: 12px;
    }

    .p-commitment {
        font-size: 28px;
        padding-left: 2px;
    }

    .logo-df {
        width: 28px;
        margin-top: 80px;
    }

    .how {
        padding-top: 100px;
    }

    .title-how {
        font-size: 40px;
    }

    .how-icon {
        width: 68px;
        padding: 10px;
    }
    
    .cards-container {
        margin-bottom: 100px;
        grid-template-columns: 260px 260px 260px;
        grid-column-gap: 70px;
    }
    
    .card {
        height: 345px;
        margin-top: 25px;
    }
    
    .title-card {
        font-size: 24px;
        padding-bottom: 10px;
    }
    
    .p-card {
        font-size: 18px;
    }

    .why-us {
        padding-bottom: 120px;
        padding-top: 120px;
    }
    
    .title-why {
        font-size: 40px;
    }
    
    .rows {
        width: 1100px;
        padding-top: 80px;
        grid-template-rows: 120px 120px 120px;
        gap: 45px;
    }
    
    .row-left {
        width: 900px;
    }
    
    .row-right {
        width: 900px;
    }
    
    .row {
        width: 700px;
        height: 110px;
        padding-left: 24px;
        padding-right: 20px;
    }
    
    .title-row {
        font-size: 26px;
    }
    
    .p-row {
        font-size: 22px;
        padding-left: 30px;
    }
    
    .contact-container {
        padding-top: 65px;
        padding-bottom: 55px;
    }
    
    .div-contact {
        grid-gap: 20px;
        padding-top: 25px;
    }
    
    .img-contact {
        width: 300px;
        
    }
    
    .div-icons {
        grid-gap: 25px;
        padding-top: 45px;
    }
    
    .icon-footer {
        width: 25px;
    }
    
    .p-contact {
        font-size: 20px;
    }
    
    .copy {
        height: 45px;
    }

    .copy-right {
        font-size: 18px;
    }
}

@media screen and (max-width: 945px) {

    .open {
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        padding-right: 25px;
        
    }

    .menu-h {
        width: 22px;
        transition: 0.7s;
    }

    .menu-h:hover {
        transform: scale(1.06);
    }

    .navbar {
        display: flex;
        flex-direction: column;
        background-color: rgba(44, 44, 44);
        justify-content: center;
        font-size: 20px;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }

    .visible {
        opacity: 1;
        visibility: visible;
    }

    .lists {
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-weight: 450;
        color: white;
    }
    
    .list {
        display: inline-block;
    }
    
    .menu {
        display: block;
        color: white;
        text-decoration: none;
        width: 100%;
        transition: 0.8s;
        padding: 6px 20px 6px 20px;
    }
    
    .menu:hover {
        color: rgb(155, 144, 51)
    }

    .logo {
        width: 250px;
    }

    .title {
        font-size: 60px;
    }

    .presentation {
        font-size: 30px;
        padding-top: 28px;
    }

    .p-presentation {
        font-size: 26px;
        padding-top: 15px;
    }

    .btn {
        width: 120px;
        height: 40px;
        font-size: 15px;
    }
}    

@media screen and (max-width: 845px) {
    .our-commitment {
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .commitment-container {
        height: 450px;
        width: 580px;
    }

    .title-commitment {
        font-size: 30px;
    }

    .div-commitment {
        padding: 30;
        grid-gap: 20px;
        height: 200px;
        width: 580px;
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
    }
    
    .div3 {
        display: grid;
        grid-template-rows: auto auto;
        padding-left: 0px;
        width: 120px;
        place-items: center ;
    }
    
    .div2 {
        display: grid;
        grid-template-rows: auto auto;
        padding-right: 0px;
        width: 120px;
        place-items: center ;
    }    

    .title-mission {
        font-size: 18px;
    }

    .title-vision {
        font-size: 18px;
    }

    .p-mission {
        font-size: 15px;
        padding-top: 10px;
    }

    .p-vision {
        font-size: 15px;
        padding-top: 10px;
    }

    .div-p-comm {
        padding-right: 0px;
    }

    .p-commitment {
        font-size: 20px;
        padding-left: 2px;
    }

    .logo-df {
        width: 20px;
    }

    .cards-container {
        height: auto;
        padding-bottom: 70px;
        grid-template-columns: none;
        grid-template-rows: 305px 305px 305px;
        grid-gap: 170px;
    }
    
    .card {
        width: 230px;
        height: 305px;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        width: 180px;
        margin-left: 20px;
    }

    .menu-h {
        width: 22px;
    }

    .title {
        font-size: 40px;
    }

    .presentation {
        font-size: 25px;
        padding-top: 25px;
    }

    .p-presentation {
        font-size: 22px;
        padding-top: 15px;
    }

    .btn {
    width: 100px;
    height: 35px;
    font-size: 13px;
    }

    .our-commitment {
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .commitment-container {
        width: auto;
        height: auto;
    }

    .title-commitment {
        font-size: 25px;
    }

    .div-commitment {
        grid-template-columns: none;
        grid-template-rows: 30% 30% 40%;
        padding-top: 5px;
        grid-gap: 14px;
        height: 400px;
        width: 300px;
    }
    
    .div3 {
        padding-left: 20px;
        padding-right: 20px;
        width: 270px;
        text-align: center;
    }
    
    .div2 {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }

    .p-commitment {
        text-align: center;
        padding-bottom: 20px;
    }

    .logo-df {
        width: 20px;
    }

    .how {
        padding-top: 90px;
    }

    .title-how {
        font-size: 25px;
    }

    .how-icon {
        width: 58px;
        padding: 9px;
    }

    .title-card {
        font-size: 22px;
    }

    .title-why {
        font-size: 25px;
    }
    
    .rows {
        width: 320px;
        height: auto;
    }
    
    .row-left {
        width: 320px;
    }
    
    .row-right {
        width: 320px;
    }
    
    .row {
        width: 320px;
        height: 80px;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .title-row {
        font-size: 16px;
    
    }
    
    .p-row {
        font-size: 14px;
        padding-left: 17px;
    }

    .contact-container {
        background-color: rgb(40, 40, 40);
        width: 100%;
        padding-top: 40px;
        padding-bottom: 30px;
        display: grid;
        justify-content: center;
        text-align: center;
    }
    
    .div-contact {
        grid-template-columns: none;
        padding-top: 30px;
        justify-content: center;
    }

    .int {
        display: flex;
        gap: 10px
    }
    
    .img-contact {
        width: 200px;
        justify-content: center;
    }
    
    .icon-footer {
        width: 19px;
    }
    
    .p-contact {
        font-size: 14px;
        margin-top: 0;
    }
    
    .copy {
        height: 25px;
    }
}

